/* src/components/Home.css */

.home {
    background-image: url('./background-image/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .home-content {
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
  }
  